<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Iniciar sesión</title>

    <script src="https://cdn.tailwindcss.com"></script>

</head>


<body class="bg-gray-100 min-h-screen flex items-center justify-center">


    <div class="bg-white w-full max-w-md p-8 rounded-2xl shadow-lg">


        <!-- TITULO -->

        <div class="text-center mb-8">

            <h1 class="text-3xl font-bold text-gray-800">
                Iniciar sesión
            </h1>

            <p class="text-gray-500 mt-2">
                Accede al sistema
            </p>

        </div>


        {% if form.errors %}

            <div class="bg-red-100 border border-red-300
                        text-red-700 px-4 py-3
                        rounded-lg mb-6">

                Usuario o contraseña incorrectos.

            </div>

        {% endif %}


        <!-- LOGIN -->

        <form method="post">

            {% csrf_token %}

            {{ form|crispy }}


            <button
                type="submit"
                class="w-full mt-5
                       bg-blue-600 hover:bg-blue-700
                       text-white font-semibold
                       py-3 rounded-lg
                       transition"
            >
                Iniciar sesión
            </button>


        </form>


    </div>

</body>

</html>